#gallery {
  display: inline-flex;
  list-style: none;
}

.gallery-image {
  width: 220px;
  height: 150px;
  object-fit: cover;
  margin-right: 15px;
}


#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}